<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instancia Vue</title>
</head>
<body>

<div id="app">
    {{ "Exemplo Vue" }}
    <input type="text" v-model="variavel">
    {{variavel}}<br/>
    <input type="text" v-model="n1" placeholder="n1">
    <input type="text" v-model="n2" placeholder="n2">
    {{n1*n2}}
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

<script>
    new Vue({
        el: "#app",
        data: {
            variavel: '',
            n1: '',
            n2: ''
        }
    })
</script>


</body>
</html>